/******tag selectores***********/
body 
{
    background-color:#8df3f5;
}

hr 
{
    border-color: blue;
    border-style: none;
    border-top-style: dotted;
    border-width: 4px;
    size: 2px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

img 
{
    height:240px;
    width:240px;
    
}

h1 
{
    color: rgb(75, 147, 33);
}

h3 
{
    color: rgb(75, 147, 33);
}

h4 
{
    color: rgb(75, 147, 33);
}
/******Class selectores***********/
.my-name
{
    color: rgb(184, 52, 52);
}

.profile-picture
{

    border-radius: 100%;
}

.profile-picture:hover
{
    border-radius: 0%;
    
}

/*******id selectors***************/
